.style-module--Header--9993b {
    margin: 40px 0 100px 0;
}
.style-module--heroImage--9e361 {
    width: 80% !important;
    border-radius: unset !important;
}

.updates-section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 130px;
}

.updates-section h3 {
    margin: 0 0 2rem 0;
    font-size: 1.75rem;
    line-height: 2.25rem;
}

.membership-section {
    width: 100%;
    height: 100%;
    max-width: 62.5rem;
    margin: 0 auto 8rem auto;
    padding: 0 2.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.membership-section-text {
    width: 500px;
}

.membership-section img {
    width: 340px;
}

.style-module--Hero--12fbf {
    min-height: 37vh;
}

header img {
    margin-left: -35px !important;
}

@media only screen and (max-width: 600px) {
    .updates-section iframe {
        width: 350px;
    }

    .style-module--Links--2e0f2 {
        flex-wrap: wrap;
    }

    .style-module--Footer--a57f4 img {
        display: none;
    }

    footer {
        margin-top: 0 !important;
        padding-top: 0 !important;
    }
}
